<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<div id="navbar-container"> 
  <h1>Class</h1>        
</div>

<div id="navbar-container"> 
  <ul id="navbar">
    <li>
      <%= link_to "Seating Chart", students_path %>
    </li>
    <li>
      <%= link_to "All Attendances", attendances_path %>
    </li>
    <li>
      <a href="/students/show">Student Index</a>
    </li>
    <li>
      <%= link_to 'Edit Profile', edit_student_path(@current) %>
    </li>
    <li>
      <%= link_to 'Log out', session_path(:student_id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>   
</div>
<p>
  <%= link_to "I'm here", new_attendance_path(@current) %>
</p>
<div align="center">
  <%=form_tag students_path, method:"get" do%>
    <%=date_field_tag("date", @date) %>
    <%=submit_tag "Confirm"%>
  <%end%>
</div>

<% require 'digest/md5' %>

    <%@in1 = Student.in_seat(1, @date)%>
    <%@in2 = Student.in_seat(2, @date) %>
    <%@in3 = Student.in_seat(3, @date) %>
    <%@in4 = Student.in_seat(4, @date) %>
    <%@absent_students= Student.absent(@date) %>

<table align="center" cellspacing="5">
  <tr>
    <td bgcolor="white">
      <h2>Section 1</h2>
      <% @in1.each do |stu| %>
        <% email_address= (stu.email).downcase %>
    
        <% if stu.image != ""%>
          <img src= <%= ab.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      
      <%= stu.nickname %> 
   
      <%end%>
    </td>

    <td bgcolor="white">
    <h2>Section 2</h2>
      <% @in2.each do |stu| %>
        <% email_address= (stu.email).downcase %>
   
        <% if stu.image != ""%>
          <img src= <%= stu.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
        <%= stu.nickname %> 
    
      <%end%>
    </td>
  </tr>
  <tr>
    <td bgcolor="white">
      <h2>Section 3</h2>
      <% @in3.each do |stu| %>
        <% email_address= (stu.email).downcase %>
   
        <% if stu.image != ""%>
          <img src= <%= stu.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
        <%= stu.nickname %> 
    
      <%end%>
    </td>
    <td bgcolor="white">
      <h2>Section 4</h2>
      <% @in4.each do |stu| %>
        <% email_address= (stu.email).downcase %>
    
        <% if stu.image != ""%>
          <img src= <%= ab.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
        <%= stu.nickname %>
    
      <%end%>
    </td>
  </tr>
</table> 

<h1>Absent</h1>

<table rules= "rows" align="center">
  <tr>
    <th>Pic</th>
    <th>Nickname</th>
  </tr>
  
  <% @absent_students.each do |ab| %>
  
    <% email_address= (ab.email).downcase %>
    <tr>
      <td>
        <% if ab.image != ""%>
          <img src= <%= ab.image %> alt="image" height=100 width=100>
        <% elsif ab.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      </td>
      <td><%= ab.nickname %> </td>
    </tr>
  <%end%>
</table>


    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var ab = <%= @absent_students.count %>;
      var pres= <%= @in1.count%> + <%= @in2.count %> + <%= @in3.count %> + <%= @in4.count %>;
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['StudentsHere', 'Totals'],
          ['Absent',     ab],
          ['Present',      pres],
          
        ]);

        var options = {
          title: 'Attendance'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
    <div id="piechart" style="width: 400px;"></div>


