<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>


<h1>Class</h1>


<% if session[:student_id] != nil %>
  <p>
    <%= link_to "I'm here", new_attendance_path %>  
  </p>
  <p>
    <%= link_to 'Log out', session_path(:student_id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <p>
    <%= link_to 'Edit Profile', edit_student_path(@current) %>
  </p>
<% else %>
<p>
  <%= link_to "Log In", new_session_path %>
</p>
<% end %>

<% require 'digest/md5' %>
<div class="date">
  <%=form_tag students_path, method:"get" do%>
    <%=date_field_tag("date", @date) %>
    <%=submit_tag "Confirm"%>
  <%end%>
</div>

    <%@in1 = Student.in_seat(1, @date)%>
    <%@in2 = Student.in_seat(2, @date) %>
    <%@in3 = Student.in_seat(3, @date) %>
    <%@in4 = Student.in_seat(4, @date) %>
    <%@absentStudents= Student.absent(@date) %>

<table align="center" cellspacing="5">
  <tr>
    <td bgcolor="white">
    <% @in1.each do |stu| %>
      <% email_address= (stu.email).downcase %>
    
        <% if stu.image != ""%>
          <img src= <%= ab.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      
      <%= stu.nickname %> 
   
  <%end%>
  </td>


  <td bgcolor="white">
  
  <% @in2.each do |stu| %>
    <% email_address= (stu.email).downcase %>
   
        <% if stu.image != ""%>
          <img src= <%= stu.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      <%= stu.nickname %> 
    
  <%end%>
  </td>
  </tr>
  <tr>
    <td bgcolor="white">
  
  <% @in3.each do |stu| %>
    <% email_address= (stu.email).downcase %>
   
        <% if stu.image != ""%>
          <img src= <%= stu.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      <%= stu.nickname %> 
    
  <%end%>
    </td>
    <td bgcolor="white">
  
  <% @in4.each do |stu| %>
    <% email_address= (stu.email).downcase %>
    
        <% if stu.image != ""%>
          <img src= <%= ab.image %> alt="image" height=100 width=100>
        <% elsif stu.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      <%= stu.nickname %>
    
  <%end%>
    </td>
  </tr>
</table>
  

<h2>Absent</h2>

<table rules= "rows" align="center">
  <tr>
    <th>Pic</th>
    <th>Nickname</th>
  </tr>
  
  <% @absentStudents.each do |ab| %>
  
    <% email_address= (ab.email).downcase %>
    <tr>
      <td>
        <% if ab.image != ""%>
          <img src= <%= ab.image %> alt="image" height=100 width=100>
        <% elsif ab.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      </td>
      <td><%= ab.nickname %> </td>
    </tr>
  <%end%>
</table>
<p>
  <%= link_to "All Attendances", attendances_path %>
</p>