<center><img src="http://www.adoptabeach.com/images/header-attendance.jpg" alt="attendance"></center>

<% Attendance.dup %>

<h2>Seat 1</h2>
<table rules="rows" align="center">
  <tr>
    <th>Pic</th>
    <th>Student Name</th>
    <th>Attended On</th>
    <th>Seat</th>
  </tr>
  <% @attendances.each do |attendance| %>
    <% if attendance.seat == 1 %>
      <% @current = Student.find(attendance.student_id) %>
      <% if attendance.attended_on == Date.today %>
        <% email_address= (@current.email).downcase %>
        <% if @current && attendance.student_id == @current.id %>
          <tr>
            <td>
            <% if @current.image != ""%>
              <img src= <%= @current.image %> alt="image" height=100 width=100>
            <% elsif @current.email != ""%>
              <% hash = Digest::MD5.hexdigest(email_address) %>
              <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
            <% else %>
              <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
            <% end %>
          </td>
          <td><%= @current.name %></td>
          <td><%= attendance.attended_on %></td>
          <td><%= attendance.seat %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>

<h2>Seat 2</h2>
<table rules="rows" align="center">
  <tr>
    <th>Pic</th>
    <th>Student Name</th>
    <th>Attended On</th>
    <th>Seat</th>
  </tr>
  <% @attendances.each do |attendance| %>
    <% if attendance.seat == 2 %>
      <% @current = Student.find(attendance.student_id) %>
      <% if attendance.attended_on == Date.today %>
        <% email_address= (@current.email).downcase %>
        <% if @current && attendance.student_id == @current.id %>
          <tr>
            <td>
            <% if @current.image != ""%>
              <img src= <%= @current.image %> alt="image" height=100 width=100>
            <% elsif @current.email != ""%>
              <% hash = Digest::MD5.hexdigest(email_address) %>
              <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
            <% else %>
              <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
            <% end %>
          </td>
          <td><%= @current.name %></td>
          <td><%= attendance.attended_on %></td>
          <td><%= attendance.seat %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>

<h2>Seat 3</h2>
<table rules="rows" align="center">
  <tr>
    <th>Pic</th>
    <th>Student Name</th>
    <th>Attended On</th>
    <th>Seat</th>
  </tr>
  <% @attendances.each do |attendance| %>
    <% if attendance.seat == 3 %>
      <% @current = Student.find(attendance.student_id) %>
      <% if attendance.attended_on == Date.today %>
        <% email_address= (@current.email).downcase %>
        <% if @current && attendance.student_id == @current.id %>
          <tr>
            <td>
            <% if @current.image != ""%>
              <img src= <%= @current.image %> alt="image" height=100 width=100>
            <% elsif @current.email != ""%>
              <% hash = Digest::MD5.hexdigest(email_address) %>
              <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
            <% else %>
              <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
            <% end %>
          </td>
          <td><%= @current.name %></td>
          <td><%= attendance.attended_on %></td>
          <td><%= attendance.seat %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>

<h2>Seat 4</h2>
<table rules="rows" align="center">
  <tr>
    <th>Pic</th>
    <th>Student Name</th>
    <th>Attended On</th>
    <th>Seat</th>
  </tr>
  <% @attendances.each do |attendance| %>
  <% if attendance.seat == 4 %>
      <% @current = Student.find(attendance.student_id) %>
      <% if attendance.attended_on == Date.today %>
        <% email_address= (@current.email).downcase %>
        <% if @current && attendance.student_id == @current.id %>
          <tr>
            <td>
            <% if @current.image != ""%>
              <img src= <%= @current.image %> alt="image" height=100 width=100>
            <% elsif @current.email != ""%>
              <% hash = Digest::MD5.hexdigest(email_address) %>
              <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
            <% else %>
              <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
            <% end %>
          </td>
          <td><%= @current.name %></td>
          <td><%= attendance.attended_on %></td>
          <td><%= attendance.seat %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>