<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<div id="navbar-container">
  <h1>Attendances</h1>
</div>

<div id="navbar-container"> 
  <ul id="navbar">
    <li>
      <%= link_to "Seating Chart", students_path %>
    </li>
    <li>
      <%= link_to "All Attendances", attendances_path %>
    </li>
    <li>
      <a href="/students/show">Student Index</a>
    </li>
    <li>
      <%= link_to 'Edit Profile', edit_student_path(@current) %>
    </li>
    <li>
      <%= link_to 'Log out', session_path(:student_id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>  
</div>

<table class="studentTable">
  <tr>
    <th>Pic</th>
    <th>Student Name</th>
    <th>Attended On</th>
    <th>Seat</th>
  </tr>
  
  <% @attendances.each do |attendance| %>
    <% @current = Student.find(attendance.student_id) %>
    
    <% email_address= (@current.email).downcase %>
    <% if @current && attendance.student_id == @current.id %>
      <tr>
        <td>
        <% if @current.image != ""%>
          <img src= <%= @current.image %> alt="image" height=100 width=100>
        <% elsif @current.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      </td>
        <td><%= link_to @current.name, attendance_path(:id => @current.id) %></td>
        <td><%= attendance.attended_on %></td>
        <td><%= attendance.seat %></td>
      </tr>
    <% end %>
    
  <% end %>
</table>
