<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>


<table class="studentTable">
  <tr>
    <th>Pic</th>
    <th>Student Name</th>
    <th>Attended On</th>
    <th>Seat</th>
  </tr>
  
  <% @attendances.each do |attendance| %>
    <% @current = Student.find(attendance.student_id) %>
    
    <% email_address= (@current.email).downcase %>
    <% if @current && attendance.student_id == @current.id %>
      <tr>
        <td>
        <% if @current.image != ""%>
          <img src= <%= @current.image %> alt="image" height=100 width=100>
        <% elsif @current.email != ""%>
          <% hash = Digest::MD5.hexdigest(email_address) %>
          <img src=<%= "http://www.gravatar.com/avatar/#{hash}" %>>
        <% else %>
          <img src=<%="http://premium.wpmudev.org/blog/wp-content/uploads/2012/04/mystery-man-small.jpg" %> height=100 width=100>
        <% end %>
      </td>
        <td><%= link_to @current.name, attendance_path(:id => @current.id) %></td>
        <td><%= attendance.attended_on %></td>
        <td><%= attendance.seat %></td>
      </tr>
    <% end %>
    
  <% end %>
</table>
